/* CustomerReview.css */

/* General container styling */
.review-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 16px;
  margin-top: 90px;
}

/* Header styling */
.header {
  text-align: center;
  margin-bottom: 32px;
}

/* Sort buttons container styling */
.sort-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 32px;
}

/* Review card styling */
.review-card {
  margin-bottom: 24px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for hidden reviews */
.review-card.hidden {
  background-color: #f2f2f277;
}

/* Posted time and user name text styling */
.review-details {
  font-size: smallest;
  opacity: 0.6;
  margin-bottom: 15px;
}

/* Comment text styling */
.review-comment {
  font-size: medium;
  margin-bottom: 16px;
  margin-bottom: 8px;
}

/* Button styling */
.btn {
  margin-right: 8px;
  margin-bottom: 8px;
}

.btn.hide {
  background-color: #ff9800;
}

.btn.hide:hover {
  background-color: #f57c00;
}

.btn.unhide {
  background-color: #4caf50; /* Green color for Unhide */
}

.btn.unhide:hover {
  background-color: #388e3c;
}

.btn.delete {
  background-color: #d32f2f;
}

.btn.delete:hover {
  background-color: #c62828;
}

/* Specific styles for sort buttons */
